:root{
    box-sizing: border-box;
    font-size: 16px;
    --column_width: 14.75rem;
    --img_border_radius: 1rem;
    --card_small:35;
    --card_medium:45;
    --card_large:55;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
  }

header #navbar-pinterest{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: fixed;
    z-index: 1;
    transform: translateY(0);
    top: 0;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

header #navbar-pinterest #pinterest-icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #navbar-pinterest #pinterest-icon:hover{
    background-color: #f1f1f1;;
}

header #navbar-pinterest div img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

header #navbar-pinterest #nav-crear img{
    width: 13px;
    height: 13px;
    cursor: pointer;
}

header #navbar-pinterest div{
    width: 95px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header #navbar-pinterest #nav-inicio{
    width: 73px;
    height: 48px;
    background-color: black;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #navbar-pinterest #nav-inicio a{
    text-decoration: none;
    color: white;
}

header #navbar-pinterest #nav-finder{
    width: 70%;
    border: 1px solid #e9e9e9;
    background-color: #e9e9e9;
    border-radius: 25px;
}


header #navbar-pinterest #nav-finder img{
    width: 20px;
    height: 20px;
}

header #navbar-pinterest #nav-finder .finder{
    width: 95%;
    height: 60%;
    border: none;
    outline: none;
    background-color: #e9e9e9;
}

header #navbar-pinterest #notifications{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #navbar-pinterest #message{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #navbar-pinterest #profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #navbar-pinterest #profile-img img{
    border-radius: 50px;
}

header #navbar-pinterest #down-arrow{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #navbar-pinterest #down-arrow img{
    width: 13px;
    height: 13px;
}

header #navbar-pinterest #notifications:hover{
    background-color: #f1f1f1;
}

header #navbar-pinterest #message:hover{
    background-color: #f1f1f1;
}

header #navbar-pinterest #profile-img:hover{
    background-color: #f1f1f1;
}

header #navbar-pinterest #down-arrow:hover{
    background-color: #f1f1f1;
}

#content{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, var(--column_width));
    grid-auto-rows: 0.5rem;
    justify-content: center;
    margin-top: 70px;
}

.card-image{
    position: relative;
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--img_border_radius);
    background-color: red;
}

.card-small{
    grid-row-end: span var(--card_small);
}


.card-medium{
    grid-row-end: span var(--card_medium);
}

.card-large{
    grid-row-end: span var(--card_large);
}

.card-image img{
    width: 100%;
    height: 100%;
    border-radius: var(--img_border_radius);
    cursor: pointer;
}

#save-button{
    display: none;
    height: 45px;
    width: 100px;
    position: absolute;
    left: 110px;
    top: 10px;
    color: white;
    background-color: red;
    border-radius: 2rem;
    cursor: pointer;
}

.card-image:hover{
    #save-button{
        display: block;
    }
    .card_right_menu{
        display: flex;
    }
}

.card_right_menu{
    display: none;
    width: 4.5rem;
    position: absolute;
    bottom: 0.6rem;
    left: 8.5rem;
    justify-content: space-between;
}

.card_right_menu div{
    width: 2rem;
    height: 2rem;
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1DFDA;
}

.card_right_menu div img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 6rem;
}

@media (max-width: 640px) {

    header #navbar-pinterest #nav-inicio{
        display: none;
    }

    header #navbar-pinterest #nav-explorar{
        display: none;
    }

    header #navbar-pinterest #nav-crear{
        display: none;
    }

    header #navbar-pinterest #message{
        display: none;
    }
}